<md-toolbar class="Menubar">

  <div class="titlew" >Néantine's Work</div>


  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/dev">
      <button md-button class="ButtonStyle">
        Developement
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/voice">
      <button md-button class="ButtonStyle">
        Voice lessons
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#minichoeurs">
      <button md-button class="ButtonStyle">
        Les Minis Choeurs
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a href="/#/login">
      <button md-button class="ButtonStyle">
        Login
      </button>
    </a>

    <!--

        <a href data-ng-show="token" ng-click="logout()"><b>Logout</b></a>
        <a href data-ng-hide="token" ng-click="dropdown"><b>Login</b></a>

    -->

  </div>

</md-toolbar>



<!--<video autoplay="autoplay" loop="loop" muted="" id="video-background" class="VideoStyle">-->
<!--<source src="https://www.youtube.com/embed/tjnY2xhcPyk" type="video/mp4">-->
<!--&lt;!&ndash;<source src="../media/MOVIE.mp4" type="video/mp4">&ndash;&gt;-->
<!--</video>-->

<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080" width="1920px" height="1080px" preserveAspectRatio="xMidYMid slice">
  <defs>
    <mask id="mask" x="0" y="0" width="1920" height="1080" >
      <rect x="0" y="0" width="1920" height="1080"/>
      <text x="960" y="1em">Verte</text>
      <text x="960" y="80%">Néantine</text>
    </mask>
  </defs>
  <rect x="0" y="0" width="1920" height="1080"/>
</svg>
<video id="video" autoplay="autoplay" muted="muted" preload="auto" loop="loop">
  <source src="http://mazwai.com/system/posts/videos/000/000/123/original/victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.mp4?1412890624" type="video/mp4">
  <source src="http://mazwai.com/system/posts/videos/000/000/123/webm/victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.webm?1412890624" type="video/webm">
</video>


<div class='box'>


  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">

      <label for="username">Username</label>
      <input id="username" style=" width: 350px;" type="text" class="form-control login" name="username" [(ngModel)]="model.username" #username="ngModel"  placeholder="Login" required />
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input id="password" style=" width: 350px;" type="password" class="form-control password" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="password" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary  pos ButtonStyle">Login</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>

  <!--
  <input class="login"
    style=" width: 350px;"
    type="text"
    name="title"
    placeholder="Login"
    >

    <input class="password"
      style=" width: 350px;"
      type="text"
      name="title"
      placeholder="password"
      >

  <button md-raised-button  class="pos ButtonStyle">
    Login
  </button>
  <button md-raised-button  class="pos ButtonStyle">
    Create
  </button>-->


</div>
