<md-toolbar class="Menubar">

  <div class="titlew" >Lilith Néantine</div>

  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/dev">
      <button md-button class="ButtonStyle">
        Développement
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/voice">
      <button md-button class="ButtonStyle">
        Cours de chant
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#minichoeurs">
      <button md-button class="ButtonStyle">
        Les Minis Choeurs
      </button>
    </a>
  </div>


</md-toolbar>


<br>
<br>

<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 50" width="1920px" height="50px" preserveAspectRatio="xMidYMid slice">
  <defs>
    <mask id="mask" x="0" y="0" width="1920" height="50" >
      <rect x="0" y="0" width="1920" height="50"/>
      <text x="960" y="33">MERCI !</text>
    </mask>
  </defs>
  <rect x="0" y="0" width="1920" height="50"/>
</svg>


<video id="video" autoplay="autoplay" muted="muted" preload="auto" loop="loop">
  <source src="assets/videobg.mp4" type="video/mp4">
</video>




