<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=358147001209705";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<md-toolbar class="Menubar">



  <div class="titlew" >Lilith Néantine</div>


  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/dev">
      <button md-button class="ButtonStyle">
        Développement
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/voice">
      <button md-button class="ButtonStyle">
        Cours de chant
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#minichoeurs">
      <button md-button class="ButtonStyle">
        Les Minis Choeurs
      </button>
    </a>
  </div>

  <!--<div class="ButtonPos">-->
    <!--<a href="/#/login">-->
      <!--<button md-button class="ButtonStyle">-->
        <!--Login-->
      <!--</button>-->
    <!--</a>-->

<!--

    <a href data-ng-show="token" ng-click="logout()"><b>Logout</b></a>
    <a href data-ng-hide="token" ng-click="dropdown"><b>Login</b></a>

-->

  <!--</div>-->

  <!--<div><a href="mailto:4sth4rtee@gmail.com">4sth4rtee@gmail.com</a></div>-->

</md-toolbar>



<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 300" width="1920px" height="300px" preserveAspectRatio="xMidYMid slice">
  <defs>
    <mask id="mask" x="0" y="0" width="1920" height="50" >
      <rect x="0" y="0" width="1920" height="50"/>
      <text x="960" y="33">NEANTINE</text>
    </mask>
  </defs>
  <rect x="0" y="0" width="1920" height="50"/>
</svg>

<div class="Title1">
</div>
<div class ="Title2">

</div>

<div class="Title2"></div>
<div class="Content1">Professeur de technique vocale, voix parlée, voix chantée, voix saturée.</div>
<div class="Content1">Développeuse Web, logiciel, et jeux vidéo.</div>
<div class="Content1"><a href="mailto:4sth4rtee@gmail.com">4sth4rtee@gmail.com</a></div>

<video id="video" autoplay="autoplay" muted="muted" preload="auto" loop="loop">
  <source src="../../../assets/videobg.mp4" type="video/mp4">
</video>
