<md-toolbar class="Menubar">

  <div class="titlew" >Néantine's Work</div>

  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/dev">
      <button md-button class="ButtonStyle">
        Web Developement
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/voice">
      <button md-button class="ButtonStyle">
        Voice lessons
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#minichoeurs">
      <button md-button class="ButtonStyle">
        Les Minis Choeurs
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a href="/#/login">
      <button md-button class="ButtonStyle">
        Login
      </button>
    </a>

<!--

    <a href data-ng-show="token" ng-click="logout()"><b>Logout</b></a>
    <a href data-ng-hide="token" ng-click="dropdown"><b>Login</b></a>

-->

  </div>

</md-toolbar>


<div class="video-background">
  <div class="video-foreground">
    <iframe src="https://www.youtube.com/embed/tjnY2xhcPyk" frameborder="0" allowfullscreen></iframe>
    <!--<iframe width="420" height="315" src="https://www.youtube.com/embed/tjnY2xhcPyk" frameborder="0" allowfullscreen></iframe>-->

  </div>
</div>

<!--<video autoplay loop poster="../media/image.png" id="bgvid">-->
  <!--<source src="https://www.youtube.com/watch?v=tjnY2xhcPyk&feature=youtu.be&t=47" type="video/mp4">-->
<!--</video>-->

<!--<video autoplay loop id="video-background" muted class="VideoStyle">-->
  <!--<source src="https://www.youtube.com/embed/tjnY2xhcPyk" type="video/mp4">-->
<!--</video>-->


<div class="welcome">
  <pre>
  >>  CHARGEMENT ...<div class="pictur">
  >>
  </div>
  </pre>
  <div>
    <ul>
      <!-- <li *ngFor="let user of users">{{user.username}} </li>-->
    </ul>
  </div>
  <!-- <p><a [routerLink]="['/login']">Logout</a></p>-->

</div>
