<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=358147001209705";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<md-toolbar class="Menubar">

  <div class="titlew" >Lilith Néantine</div>

  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/dev">
      <button md-button class="ButtonStyle">
        Développement
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/voice">
      <button md-button class="ButtonStyle">
        Cours de chant
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#minichoeurs">
      <button md-button class="ButtonStyle">
        Les Minis Choeurs
      </button>
    </a>
  </div>


</md-toolbar>


<br>
<br>

<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 50" width="1920px" height="50px" preserveAspectRatio="xMidYMid slice">
  <defs>
    <mask id="mask" x="0" y="0" width="1920" height="50" >
      <rect x="0" y="0" width="1920" height="50"/>
      <text x="960" y="33">POURQUOI...</text>
    </mask>
  </defs>
  <rect x="0" y="0" width="1920" height="50"/>
</svg>


<video id="video" autoplay="autoplay" muted="muted" preload="auto" loop="loop">
  <source src="assets/videobg.mp4" type="video/mp4">
</video>

<div class="Title1"></div>
<div class ="Title2"></div>


<div class ="Title2">
  ...choisir entre 2 passions ?
</div>

<br><br>

<div class="Content1">Je suis développeuse Web et jeux vidéo.</div>
<div class="Title2"></div>
<div class="Title2"></div>

<div class="Content1">Je suis aussi professeur de technique vocale, spécialisée en voix saturées.</div>


<br><br><br>
<contact-form></contact-form>





