<md-toolbar class="Menubar">

  <div class="titlew" >Les Minis Choeurs de Néantine</div>

  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/dev">
      <button md-button class="ButtonStyle">
        Web Developement
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/voice">
      <button md-button class="ButtonStyle">
        Voice lessons
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#minichoeurs">
      <button md-button class="ButtonStyle">
        Les Minis Choeurs
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a href="/#/login">
      <button md-button class="ButtonStyle">
        Login
      </button>
    </a>

<!--

    <a href data-ng-show="token" ng-click="logout()"><b>Logout</b></a>
    <a href data-ng-hide="token" ng-click="dropdown"><b>Login</b></a>

-->

  </div>

</md-toolbar>

<video autoplay loop id="video-background" muted class="VideoStyle">
  <source src="https://vimeo-hp-videos.global.ssl.fastly.net/1/1.mp4" type="video/mp4">
</video>


<div class="welcome">
  <pre>
  >>  CHARGEMENT ...<div class="pictur">
  >>
  </div>
  </pre>
  <div>
    Le concept des Mini Choeurs de Néantine :.....
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque cumque et eum expedita, in maxime omnis? Ad consequatur cupiditate natus recusandae rerum similique sunt ut vero. A, accusantium, autem.
    <ul>
      <!-- <li *ngFor="let user of users">{{user.username}} </li>-->
    </ul>
  </div>
  <!-- <p><a [routerLink]="['/login']">Logout</a></p>-->

</div>
