<md-toolbar class="Menubar">

  <div class="titlew" >Mes cours de chant</div>


  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/dev">
      <button md-button class="ButtonStyle">
        Développement
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/voice">
      <button md-button class="ButtonStyle">
        Cours de chant
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#minichoeurs">
      <button md-button class="ButtonStyle">
        Les Minis Choeurs
      </button>
    </a>
  </div>

  <!--<div class="ButtonPos">-->
    <!--<a href="/#/login">-->
      <!--<button md-button class="ButtonStyle">-->
        <!--Login-->
      <!--</button>-->
    <!--</a>-->

    <!--

        <a href data-ng-show="token" ng-click="logout()"><b>Logout</b></a>
        <a href data-ng-hide="token" ng-click="dropdown"><b>Login</b></a>

    -->

  <!--</div>-->

</md-toolbar>

<br>
<br>

<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 300" width="1920px" height="300px" preserveAspectRatio="xMidYMid slice">
  <defs>
    <mask id="mask" x="0" y="0" width="1920" height="50" >
      <rect x="0" y="0" width="1920" height="50"/>
      <text x="960" y="2em">COURS DE CHANT</text>
      <text x="960" y="3em">Technique Vocale</text>
    </mask>
  </defs>
  <rect x="0" y="0" width="1920" height="50"/>
</svg>
<video id="video" autoplay="autoplay" muted="muted" preload="auto" loop="loop">
  <source src="assets/videobgvoice.mp4" type="video/mp4">
</video>

<div class="Title1">
</div>

<div class ="Title2">
  La Technique du Chanteur Moderne
</div>
<div class="Content1">
  Mes cours sont inspirés de la Technique du Chanteur Moderne, que j'ai étudiée durant plusieurs années au cours de stages et master classes avec son créateur Allan Wright.
  J'ai été totalement séduite par ce sytème d'apprentissage car il s'affranchit complètement de tout critère esthétique et se base uniquement sur la réalisation d'un geste vocal sain.
  Il se réfère exclusivement au fonctionnement physiologique et acoustique de la voix, et sur les dernières recherches en science vocale.
  De ce fait, la voix parlée n'est pas mise à l'écart, et peut être aussi grandement améliorée par cette pratique.
</div>
<div class ="Title2">
  Mon approche
</div>
<div class="Content1">
  Avec la TCM, je propose des cours visant l'amélioration de la technique et de la voix en total lâcher-prise, car je considère que chaque personne possède un instrument vocal unique, une
  sensibilité musicale et esthétique qui lui est propre. Personne ne devrait s'interdire d'aimer et de produire certains sons du moment qu'ils sont réalisables sainement !
  Par passion (du métal et du rock) et curiosité, je me suis orientée vers la pratique de la saturation, afin d'aider les chanteurs à faire saturer leur voix sans se blesser.
  Plusieurs types de saturations sont réalisables en fonction du style et des envies de chaque chanteur.
</div>
<div class ="Title2">
  Mes cours
</div>
<div class="Content1">
 Tous les styles et les niveaux sont accueillis avec bienveillance, les débutants en particulier.
  Avec moi, pas de jugement esthétique, seul compte le travail musculaire (car c'est vraiment ce qu'est la production vocale) vers l'objectif que l'élève propose.
  Pour réserver un cours, contactez-moi !
</div>



