<md-toolbar class="Menubar">

  <div class="titlew" ></div>

  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/dev">
      <button md-button class="ButtonStyle">
        Développement
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/voice">
      <button md-button class="ButtonStyle">
        Cours de chant
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#minichoeurs">
      <button md-button class="ButtonStyle">
        Les Minis Choeurs
      </button>
    </a>
  </div>

  <!--<div class="ButtonPos">-->
    <!--<a href="/#/login">-->
      <!--<button md-button class="ButtonStyle">-->
        <!--Login-->
      <!--</button>-->
    <!--</a>-->

    <!--

        <a href data-ng-show="token" ng-click="logout()"><b>Logout</b></a>
        <a href data-ng-hide="token" ng-click="dropdown"><b>Login</b></a>

    -->

  <!--</div>-->

</md-toolbar>


<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 300" width="1920px" height="300px" preserveAspectRatio="xMidYMid slice">
  <defs>
    <mask id="mask" x="0" y="0" width="1920" height="50" >
      <rect x="0" y="0" width="1920" height="50"/>
    </mask>
  </defs>
  <rect x="0" y="0" width="1920" height="50"/>
</svg>

<video id="video" autoplay="autoplay" muted="muted" preload="auto" loop="loop">
  <source src="http://mazwai.com/system/posts/videos/000/000/123/original/victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.mp4?1412890624" type="video/mp4">
  <source src="http://mazwai.com/system/posts/videos/000/000/123/webm/victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.webm?1412890624" type="video/webm">
</video>


<datetime [timepicker]="{ showMeridian: false, minuteStep: 1 }" [datepicker]="datepickerOpts" [(ngModel)]="date2"></datetime>
<datetime [(ngModel)]="date"></datetime>
