.Menubar {
  padding-top:21px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.001);
  flex: 1 1 auto;
  border-bottom: groove white 1px;
  -webkit-box-shadow: 0px 3px 1px  rgba(0,0,25,0.35);
  -moz-box-shadow: 0px 3px 5px  rgba(0,0,25,0.75);
  box-shadow: 0px 5px 3px  rgba(0,0,25,0.75);

}
.titlew{
  font-family: "High Tower Text";
  color : #55d16b;
  font-size: 20px;
  padding-right: 85px;
}
.titlew:hover{
  font-family: "High Tower Text";
  color : #58b593;
  font-size: 20px;
  padding-right: 85px;
  transform: scale(1.03);
}

.TitlePos {
  padding: 15px;
  flex: 1 1 auto;

}

.ButtonPos {
  padding: 15px;
  flex: 1 1 auto;
}

.ButtonStyle {
  font-size: 23px;
  font-family: "High Tower Text";
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 4px 3px 1px  rgba(0,0,25,0.35);
  -moz-box-shadow: 8px 3px 5px  rgba(0,0,25,0.75);
  box-shadow: 5px 5px 3px  rgba(0,0,25,0.75);
}

.ButtonStyle:hover{
  border-bottom: solid white 1px;
  background-color: rgba(0, 0, 0, 0.001);
  animation: shawd 2s;
  -moz-animation: shawd 2s; /* Firefox */
  -webkit-animation: shawd 2s; /* Safari et Chrome */
  -o-animation: shawd 2s; /* Opera */

}

html{
  height: 100%;
  overflow:hidden;
  font-weight:100;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 35em;
  letter-spacing:-0.03em;
  height: 100%;
}
svg {
  width: 100%;
  height: 100%;
  position:absolute;
}


svg text {
  text-anchor: middle;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  letter-spacing:-0.03em;
  height: 100%;
}
svg mask rect {
  fill: rgba(177, 255, 206, 0.9);
}
svg > rect {
  fill: #c4ffdb;
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
video{
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: 1920px;
  height: 1080px;
  z-index: -1;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  html{
    font-size:0.5em;
    font-weight:400;
  }
}

.CVTitle {
  padding-top: 150px;
  font-size: 20px;
  font-family: "High Tower Text";
  flex: 1 1 auto;
  color : #061e12;

}
.CVSectionTitle {
  padding: 15px;
  font-size: 20px;
  font-family: "High Tower Text";
  flex: 1 1 auto;
  color : #b3ffee;

}

.CVContent {
  background-color: #b9ffcb;
  font-size: 20px;
  font-family: "High Tower Text";
  padding: 15px;
  flex: 1 1 auto;
  color : #000000;
}



.CVContentTitle {
  background-color: #b9ffcb;
  font-size: 20px;
  font-weight: bold;
  font-family: "High Tower Text";
  padding: 15px;
  flex: 1 1 auto;
  color : #000000;

}

