<md-toolbar class="Menubar">

  <div class="titlew" >Développement Web & Logiciel</div>


  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/dev">
      <button md-button class="ButtonStyle">
        Développement
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#/voice">
      <button md-button class="ButtonStyle">
        Cours de chant
      </button>
    </a>
  </div>

  <div class='TitlePos'>
    <a href="/#minichoeurs">
      <button md-button class="ButtonStyle">
        Les Minis Choeurs
      </button>
    </a>
  </div>

  <!--<div class="ButtonPos">-->
    <!--<a href="/#/login">-->
      <!--<button md-button class="ButtonStyle">-->
        <!--Login-->
      <!--</button>-->
    <!--</a>-->

    <!--

        <a href data-ng-show="token" ng-click="logout()"><b>Logout</b></a>
        <a href data-ng-hide="token" ng-click="dropdown"><b>Login</b></a>

    -->

  <!--</div>-->

</md-toolbar>


<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 300" width="1920px" height="300px" preserveAspectRatio="xMidYMid slice">
  <defs>
    <mask id="mask" x="0" y="0" width="1920" height="50" >
      <rect x="0" y="0" width="1920" height="50"/>
      <text x="960" y="2em">DEVELOPPEUSE FREELANCE</text>
      <text x="960" y="3em"> Web, Jeux vidéo, applications & logiciels</text>
    </mask>
  </defs>
  <rect x="0" y="0" width="1920" height="50"/>
</svg>

<video id="video" autoplay="autoplay" muted="muted" preload="auto" loop="loop">
  <source src="../../../assets/videobg.mp4" type="video/mp4">
</video>

<div class="Title1">

</div>

<div class ="Title2">
  Compétences techniques
</div>

<div class="Title2">Langages : </div>
<div class="Content1">JavaScript (ES6), HTML 5, CSS 3, C++, PHP</div>
<div class="Title2">Frameworks : </div>
<div class="Content1"> Angular 2, REACT, ionic 2, WordPress</div>
<div class="Title2">Bases de données : </div>
<div class="Content1">MySQL, NoSQL, MongoDB</div>
<div class="Title3">Méthodologies : </div>
<div class="Content1">Agile SCRUM : Scrum Master Certifié</div>
<div class="Title3">IDE: </div>
<div class="Content1">Webstorm, Visual Studio, Visual C++, Eclipse, PhpStorm</div>
<div class="Title3">Gestion de configurations: </div>
<div class="Content1">Git, Visual SourceSafe, Perforce, SVN</div>


<div class="Title2">
  Experience professionnelle
</div>

    <div class="Title3">
      2016: Live Masters (Cannes)
    </div>
    <div class="Content1">
      Développement Wordpress PHP Crowdfunding
    </div>

    <div class="Title3">
    2016: M2i (Sophia-Antipolis)
    </div>
    <div class="Content1">
      Dans le cadre de la formation développeur fullstack javascript, projet tutoré en équipe Scrum.
      Création d’une application Web de gestion de galeries d’images. L’application gère la connection
      d’utilisateurs, l’upload d’images et l’affichage de la galerie. Utilisation de Git, Webstorm,
      MongoDB, NodeJs, Angular, ionic 2, protractor, codeship et heroku pour l’intégration continue.
      Le code est partagé sur github, l’application est en cours d’évolution et de déploiement sur mobile.
    </div>

    <div class="Title3">
      2006 – 2014 : Artefacts Studio (Lyon)
    </div>
    <div class="Content1">
      Développeuse sur de nombreux projets vidéo-ludiques multi-plateformes (consoles Nintendo
      DS/3DS, Sony PS3, Microsoft XBOX 360, PC, iOS et Android).
    </div>

      <div class="Title3">
        2009-2010 Ubisoft « Assassin’s Creed Brotherhood » (Annecy)
      </div>
      <div class="Content1">
       XBOX 360 / PS3:
      Au sein de l’équipe de développement du mode multi-joueurs et en collaboration
      avec l’équipe réseau bas-niveau, et l’équipe de Montréal, programmation en C++ de
      la réplication des comportements du personnage principal (contrôlé par le joueur).
      A partir du cahier des charges, rédigé par les game designers, conception et
      développement des comportements héros, objets, armes et règles du jeu
      spécifiques au mode multi-joueurs (C++, XBOX et PS3 SDK).
      Agilité : SCRUM master
    </div>

    <div class="Title3">
      2006-2007 Eden Games (Lyon) « Alone in the Dark 5 » pour Atari-Infogrammes
    </div>
    <div class="Content1">
      XBOX 360 / PS2 / PC:
      A partir des documents de game design, en tenant compte des contraintes
      techniques, conception et développement des comportements du personnage
      contrôlé par le joueur (UML, C++). o Pour les besoins des designers et scénaristes, création d’outils et de scripts de
      comportements d’objets génériques, au sein de l’éditeur de niveaux.
    </div>

    <div class="Title3">
      Artefacts Studio (Lyon)
    </div>
    <div class="Content1">
      « Brutus & Futée », « Gods vs Humans », « Dark Stone”, “C’est Bon ! », « Survivor 3D The Ultimate
      Adventure (Koh Lanta)”, “SillyBandz DS », “El Internado”, “Dance Floor”, “Boule & Bill Vive les Vacances !”
      ...etc.
      Conception & développement de jeux pour Nintendo DS et 3DS, PC, et applications
      mobiles (UML, C++, Nintendo SDK).
      Développement éditeur de niveaux pour un « casse-brique » (Java).
      Intégration de données graphiques, sonores et tests. o Portages de jeux anciens vers mobile (« Dark Stone » par exemple)
      Développeuse sur de nombreux projets vidéo-ludiques multi-plateformes (consoles Nintendo
      DS/3DS, Sony PS3, Microsoft XBOX 360, PC, iOS et Android).
    </div>

    <div class="Title3">
      2006 : Phoenix Interactive (Lyon) « Alexandra Ledermann 6 » pour Ubisoft
    </div>
    <div class="Content1">
        En collaboration avec les game designers, et en tenant compte des contraintes techniques,
        conception et développement des comportements du personnage contrôlé par le joueur,
        dans les différents modes de jeux équestres (courses d’obstacle, de vitesse,
        dressage…etc.). (UML, C++, scripts, Sony SDK).
        Intégration des objets graphiques et scénariques.
        Tests, correction de bugs.
    </div>

    <div class="Title3">
      2003 – 2006: Widescreen Games (Lyon) »Dead to Rights 2 », Black Buccaneer” pour Namco
    </div>
    <div class="Content1">

      Mise à jour et maintenance de l’éditeur de niveaux, pour les besoins des artistes et des
      scénaristes (script Maya, C++)
      Scripting de comportements ennemis (IA), basés sur le game design (C++, Python)
      Gestion des configurations et des versions. Intégration des données. Tests et reports de
      bugs. Release.
    </div>


